#about{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

@media (min-width: 481px) and (max-width: 767px) {
    #content {
        font-size: 3vw;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    #content {
        font-size: 4vw;
    }

}