@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: none;
    color: white;
    overflow: auto;
    -webkit-text-size-adjust: auto;
    font-family: 'Fraunces', serif !important;
}

html, body {
    background-color: white !important;
}

hr {
    padding: 0.005%;
    background-color: red;
    border: 0.05vw solid red;
}

#root {
}

.bg-black {
    background-color: #0a0a0a !important;
}

.bg-white {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* make scrollbar transparent */
}

.awssld {
    --slider-height-percentage: 100%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 5px;
    --organic-arrow-height: 20%;
    --organic-arrow-color: #ffffff;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #2d5182;
    --control-bullet-active-color: #26456f;
    --loader-bar-color: #851515;
    --loader-bar-height: 7px;
    --control-button-opacity: 0.5;
    --control-button-hover-opacity: 0.75;
    --transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
    --content-background-color: #2f2f2f;
}

@media all and (max-width: 520px) {
    .awssld__controls {
        visibility: visible;
    }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*

@media (min-width: 1281px) {
    h1 {
        font-size: 2vw;
    }

    p, a {
        font-size: 1.5vw;
    }


}

!*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*!

@media (min-width: 1025px) and (max-width: 1280px) {

    h1 {
        font-size: 2.5vw;
    }

    p, a {
        font-size: 2vw;
    }

}

!*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*!

@media (min-width: 768px) and (max-width: 1024px) {

    h1 {
        font-size: 3vw;
    }

    p, a {
        font-size: 2.5vw;
    }

}


@media (min-width: 600px) and (max-width: 800px)  and (orientation: landscape) {

    h1 {
        font-size: 2vw;
    }

    p, a {
        font-size: 2.5vw;
    }

}

!*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*!

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    h1 {
        font-size: 3vw;
    }

    p, a {
        font-size: 2.5vw;
    }

}

!*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*!

@media (min-width: 481px) and (max-width: 767px) {

    h1 {
        font-size: 3vw;
    }

    p, a {
        font-size: 2.5vw;
    }
}

!*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*!

@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 5vw;
    }

    p, a {
        font-size: 4.5vw;
    }
}

*/
