@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: none;
    color: white;
    -webkit-text-size-adjust: auto;
    font-family: 'Fraunces', serif !important;
}

html, body {
    height: 100%;
}

hr {
    padding: 0.005%;
    background-color: red;
    border: 0.05vw solid red;
}

#root {
    height: 100%;
}

.bg-black {
    background-color: #0a0a0a;
}

.bg-white {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* make scrollbar transparent */
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*

@media (min-width: 1281px) {
    h1 {
        font-size: 2vw;
    }

    p, a {
        font-size: 1.5vw;
    }


}

!*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*!

@media (min-width: 1025px) and (max-width: 1280px) {

    h1 {
        font-size: 2.5vw;
    }

    p, a {
        font-size: 2vw;
    }

}

!*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*!

@media (min-width: 768px) and (max-width: 1024px) {

    h1 {
        font-size: 3vw;
    }

    p, a {
        font-size: 2.5vw;
    }

}


@media (min-width: 600px) and (max-width: 800px)  and (orientation: landscape) {

    h1 {
        font-size: 2vw;
    }

    p, a {
        font-size: 2.5vw;
    }

}

!*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*!

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    h1 {
        font-size: 3vw;
    }

    p, a {
        font-size: 2.5vw;
    }

}

!*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*!

@media (min-width: 481px) and (max-width: 767px) {

    h1 {
        font-size: 3vw;
    }

    p, a {
        font-size: 2.5vw;
    }
}

!*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*!

@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 5vw;
    }

    p, a {
        font-size: 4.5vw;
    }
}

*/
