@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: none;
    color: white;
    overscroll-behavior-y: contain !important;
    font-family: Roboto, serif !important;
}

.test {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

html, body {
    margin: 0;
    padding: 0;
}

li p {
    display: inline;
}

hr {
    background-color: red;
    border: 1px solid red;
}

.section-container {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.bg-black {
    background-color: black !important;
}

.bg-white {
    background-color: #f5f5f5;
}

.text-red {
    color: red;
}

.awssld {
    --content-background-color: black;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* make scrollbar transparent */
}

