
#navbar {
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 99;
    background-color: transparent;
}

#navbar a {
    float: right;
    padding: 0.5% 1.5% 0.5% 1.5%;
    color: #dddddd;
    margin: 5px;
    font-size: 1.15em;
    text-decoration: none
}

#navbar a:hover {
    color: white;
    border-bottom: white solid 2px;
}


#navbar a.active {
    color: white;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
