#portfolio {
    background-color: #08090a;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

#portfolio div h1 {
    padding-top: 1%;
    padding-bottom: 2%;
    margin: 0 auto;
    color: #fefefe;
}

#portfolio div hr {
    width: 20%;
    margin: 0 auto;
    background-color: red;
    border: 0.05vw solid red;
    border-radius: 2px;
}

#content {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 0 5% 0 5%;
}
