#portfolio {
    height: 100vh;
    background-color: #08090a;

}


#portfolio-container {

}

#header-container {
    display: inline-block;
    width: 50%;
    height: 100%;
}

#gallery-container {
    display: inline-block;
    width: 50%;
    height: 100%;
}

#gallery-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.gallery-content {
    max-width: 100%;
    max-height: 100%;
    object-fit:scale-down;
}

.swiper-container {

}
