.white-border {
    border-color: white;
    border-width: 3px;
    border-style: double;
}

.w-90{
    width: 90% !important;
}
.image-content {
    width:100% !important;
    height: auto  !important;
    object-fit:cover !important;
}

