.white-border {
    border-color: white;
    border-width: 3px;
    border-style: double;
}

.w-90 {
    width: 90% !important;
}

.image-content {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .image-content {
        width: 225px !important;
        height: 256px !important;
        object-fit: fill !important;
    }

}



