.about-container {
    height: 100vh !important;
    overflow: scroll !important;
}

.sidenav {
    position: fixed;
    width: 7% !important;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
}

.sidenav svg {
    width: 100%;
    height: 100%;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .sidenav {
        width: 6% !important;
        height: 37%;
    }

    .sidenav svg {
        width: 38px !important;
        height: 38px !important;;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    .sidenav {
        width: 7% !important;
        height: 32% !important;
    }

    .sidenav svg {
        width: 32px !important;
        height: 32px !important;;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .sidenav {
        width: 11% !important;
        height: 35% !important;
    }

    .sidenav svg {
        width: 32px !important;
        height: 32px !important;;
    }

}

@media (min-width: 600px) and (max-width: 800px) and (orientation: portrait) {
    .sidenav {
        width: 12% !important;
        height: 30% !important;
    }

    .sidenav svg {
        width: 32px !important;
        height: 32px !important;;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    .sidenav {
        width: 9% !important;
        height: 20%;
    }


    .sidenav svg {
        width: 32px;
        height: 32px;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .sidenav {
        width: 12% !important;
        height: 40%;
    }

    .sidenav svg {
        width: 25px;
        height: 25px;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .sidenav {
        width: 22% !important;
        height: 33%;
    }

    .sidenav svg {
        width: 26px;
        height: 26px;
    }

}

